APP_NAME=Medicos
APP_ENV=production
APP_KEY=base64:XI7Q/L8SAHH3M7N3aJa5hCswQEnruw+HOy3XKtZLk/g=
APP_DEBUG=false
APP_URL=https://choqueluis.onrender.com

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
